.header {
  background: #3f85ef;
  background: -webkit-linear-gradient(270deg,#acdefb,#3f85ef);
  width: 100%;
  min-height: 100vh;
  padding: 30vh 0;
  text-align: center;
  color: #fff;
}

.header h1 {
  font-size: 50px;
}

.header p {
  font-family: 'Bree Serif', serif;
  font-size: 30px;
}

.header a, .header a:hover {
  color: #2673ff;
  font-weight: 700;
}
