@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  background-color: #24292e;
}

.app {
  background-color: #24292e;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.story .container {
  margin: 50px auto;
  border-radius: 10px;
  color: white;
  position: relative;
  min-height: 150px;
}

.story h2 {
  font-family: 'Exo', sans-serif;
}

.story p {
  font-size: 18px;
}

.highlight {
  color: #2eb2eb;
}

.skill {
  font-size: 18px;
  color: white;
  padding: 10px;
}
